<h2>Edit Comment</h2>
<% if @comment.user_id == current_user.id %>
	<%= form_for @comment, url: {action: "update"} do |f| %>
		<%=f.text_area :content %>
		<%= f.submit %>
	<% end %>
<% else %>
	<p>This is not your comment to edit.</p>
<% end %>