<ul>
	<li><a href="/students/<%=  @student.id %>/q1-report-card.pdf" target="_blank">Quarter 1 Report Card</a></li>
	<li><%= link_to "Semester 1 Report Card", "/students/#{@student.id}/sem1-report-card.pdf" %></li>
</ul>