<div class="schedule-container">
	<table align="center">
		<tbody>
			<tr>
				<th class="scheduleHeader"></th>
				<th class="scheduleHeader"></th>
				<th class="scheduleHeader">P1</th>
				<th class="scheduleHeader">P2</th>
				<th class="scheduleHeader">P3</th>
				<th class="scheduleHeader">P4</th>
				<th class="scheduleHeader">P5</th>
				<th class="scheduleHeader">FB</th>
				<th class="scheduleHeader">ADV</th>
			</tr>
			<tr class="rowA">
				<th class="scheduleTimes" rowspan='2'>A</th>
				<td class="semester">S1</td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
			</tr>
			<tr>
				<td class="semester">S2</td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
			</tr>
			<tr class="rowB">
				<th class="scheduleTimes" rowspan='2'>B</th>
				<td class="semester">S1</td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
			</tr>
			<tr>
				<td class="semester">S2</td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
			</tr>
			<tr class="rowC">
				<th class="scheduleTimes" rowspan='2'>C</th>
				<td class="semester">S1</td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
			</tr>
			<tr>
				<td class="semester">S2</td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
			</tr>
			<tr class="rowD">
				<th class="scheduleTimes" rowspan='2'>D</th>
				<td class="semester">S1</td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
			</tr>
			<tr>
				<td class="semester">S2</td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
			</tr>
			
		</tbody>
	</table>
</div>