<span class="student-id" data="<%=@student.id%>"></span>
<div class="schedule-container">
	<table align="center">
		<tbody>
			<tr>
				<th class="scheduleHeader"></th>
				<th class="scheduleHeader"></th>
				<th class="scheduleHeader">P1</th>
				<th class="scheduleHeader">P2</th>
				<th class="scheduleHeader">P3</th>
				<th class="scheduleHeader">P4</th>
				<th class="scheduleHeader">P5</th>
				<th class="scheduleHeader">FB</th>
				<th class="scheduleHeader">ADV</th>
			</tr>
			<tr class="rowA">
				<th class="scheduleTimes" rowspan='2'>A</th>
				<td class="semester">S1</td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
			</tr>
			<tr>
				<td class="semester">S2</td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
			</tr>
			<tr class="rowB">
				<th class="scheduleTimes" rowspan='2'>B</th>
				<td class="semester">S1</td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
			</tr>
			<tr>
				<td class="semester">S2</td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
			</tr>
			<tr class="rowC">
				<th class="scheduleTimes" rowspan='2'>C</th>
				<td class="semester">S1</td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
			</tr>
			<tr>
				<td class="semester">S2</td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
			</tr>
			<tr class="rowD">
				<th class="scheduleTimes" rowspan='2'>D</th>
				<td class="semester">S1</td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
				<td class="section-box"></td>
			</tr>
			<tr>
				<td class="semester">S2</td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
				<td class="section-box-s2"></td>
			</tr>
			
		</tbody>
	</table>
</div>

<script type="text/javascript">
$(function(){
	// set student id
	let studentId = $('span.student-id').attr("data");

	let squares = $('.section-box');
	let squares_s2 = $('.section-box-s2');
	let possibleDays = {"A": -1, "B": 6, "C": 13, "D": 20}

	let randomColor = "hsl(" + 360 * Math.random() + ',' +
             (25 + 70 * Math.random()) + '%,' + 
             (85 + 10 * Math.random()) + '%)';
	
	// get JSON data for all current sections for student
	$.getJSON(`/students/${studentId}/schedule`, function(response){

	}).done(function(response){

		let sections = response.sections_current;

		for(let i = 0; i < sections.length;i++){
			randomColor = "hsl(" + 360 * Math.random() + ',' +
             (25 + 70 * Math.random()) + '%,' + 
             (85 + 10 * Math.random()) + '%)';

			let exArray = sections[i].expression.split(' ');

			for(let t = 0; t < exArray.length; t++){

				let period = exArray[t].match(/\d+/g)
				let days = exArray[t].match(/[A-D]/g)
				let multiplier = 0;

				if (exArray[t].match(/[-]/g)){
					let set =["A", "B", "C", "D"]
					let dashDays = exArray[t].match(/\w-\w/g)[0].match(/\w/g);
					let otherDay = exArray[t].match(/\(\w,|,\w\)/g)
					
					if (otherDay === null){
						switch (set.indexOf(dashDays[1]) - set.indexOf(dashDays[0])){
						case 1:
							days = dashDays;
							break;
						case 2:
							days = [...dashDays, set[set.indexOf(dashDays[0]+1)]];
							break;
						case 3:
							days = set
							break;
						}
					} else {
						otherDay = otherDay[0].match(/\w/g);

						switch (set.indexOf(dashDays[1]) - set.indexOf(dashDays[0])){
						case 1:
							days = [...dashDays, ...otherDay];
							break;
						case 2:
							days = [...dashDays, ...otherDay, set[set.indexOf(dashDays[0]+1)]];
							break;
						case 3:
							days = set
							break;
						}
					}

				} 

				days.forEach(function(day){
					let html = 
					"<p><small>" + sections[i].course_name + "</small></p>"+
					"<p><small>" + sections[i].course_number + "." + sections[i].section_number + "</small></p>" +
					"<small>Room: " + sections[i].room + "</small>";

					multiplier = possibleDays[day];

					if (sections[i].termid === 2802){

						squares_s2[parseInt(period)+multiplier].innerHTML = html;
						$(squares_s2[parseInt(period)+multiplier]).css('background-color', randomColor);

					} else {
						
						squares[parseInt(period)+multiplier].innerHTML = html;
						$(squares[parseInt(period)+multiplier]).css('background-color', randomColor);
					}

					if (sections[i].termid === 2800){
						$(squares[parseInt(period)+multiplier]).attr('rowspan', "2");
						$(squares_s2[parseInt(period)+multiplier]).remove()

					}

				})
						
			}
		}

	});
	
})
</script>


