<h1 class="student-header" data-studentid="<%=@student.id%>" ><%= @student.lastfirst %> - <%= @student.student_number %> - Grade <%= @student.gradelevel %> </h1>
<h2>Bell Schedule</h2>

<table>
	
</table>