<h1>All Students</h1>
<%= content_tag :div, class: "student_list", id: "studentlist", data: {students: @students} do %>

<%end%>
<ol>
	<% @students.each do |student| %>
	<li><%= link_to student.lastfirst, student_path(student)%></li>
	<% end %>
</ol>

