<h1><%= @student.lastfirst %></h1>
<!-- <div id="chart_div"></div> -->
<h3>Standards grouped by score:</h3>

<%= bar_chart @data_array %>


<%#= bar_chart [
  {name: "Series A", data: "7"},
  {name: "Series B", data: "6"}
  ] %>

<%#= pie_chart({"Football" => 10, "Basketball" => 5}) %>
