<% content_for :title do %>
	User Show Page
<% end %>

<% if flash[:message].present? %>
  <%= flash[:message] %>
<% end %>


<% if Teacher.teacher?(@current_user)%>
	<h1>Welcome Teacher <%= @current_user.username %></h1>
 	<p>You are a teacher!!!!</p>
<% else %>
 	<h1>Welcome <%= @current_user.username %></h1>
<% end %>

<div id="user-sections"></div>
<div id="section-show"></div>
<div class="teacher-students-container" >
	<div id="student-list"></div>
	<div class="student-chart"><canvas id="student-chart"></canvas></div>
</div>

<script type="text/javascript">

function buildChart(grades){

		console.log("Grades are: ", grades);

	  let ctx = document.getElementById("student-chart").getContext('2d');

	  let standard_grade_array = grades.map(function(grade){
	  		return Object.values(grade)
	  })

	  let standard_name_array = grades.map(function(grade){
	  		return Object.keys(grade)
	  })

	  standard_grade_array = [].concat.apply([], standard_grade_array);
	  standard_name_array = [].concat.apply([], standard_name_array);
		
		var myChart = new Chart(ctx, {
	    type: 'horizontalBar',
	    data: {
	        labels: standard_name_array,
	        datasets: [{
	            label: 'Student Grades',
	            data: standard_grade_array,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        }
	    }
	});
}

function attachListener(section, userId){

	$(`button#section-roster-${section.id}`).on('click', function(event){
		$.get(`/sections/${section.id}/students`, function(response){
				console.log("Second Request Sent");
			}).done(function(data){
				let html = "<ol>";
				data.forEach(function(student){
					html += `<li><a href='#' id="student-show-section-${student.id}">` + student.lastfirst + "</a></li>";
				})
				html += "</ol>";
				console.log(html)
				$(`#student-list`).html(html)
			}).done(function(data){
				data.forEach(function(student){
					$(`#student-show-section-${student.id}`).on("click", function(event){
						event.preventDefault();
						showStudentSection(student, section);
					})
				})
			});
	});

}

function showStudentSection(student, section){

	let grades = [];

	$.get(`/sections/${section.id}/students/${student.id}`, function(response){
		
	}).done(function(response){
		
			buildChart(response);
		});
}

$('#sidebar-sections').on("click", function(event){

	let userId = $(this).attr("data-userid");
	
	$.get('/users/' + userId + '/sections', function(response){
		
	}).done(function(data){
		let html = '';

		data.forEach(function(section){
			html += `<div id=section-${section.id} class="sectionDiv">` +
			`<h3><a href='/users/${userId}/sections/${section.id}'>` + section.course_name + "</a></h3>" +
			"<h4>" + section.course_number + "</h4>" +
			"<p>Section: " + section.section_number + "</p>" +
			`<button id='section-roster-${section.id}'>See Students</button>` + 
			`<div id='roster-${section.id}'></div>` +
			"</div>";

		});

		$('#user-sections').html(html);

	}).done(function(sections){
		sections.forEach(function(section){
			attachListener(section, userId);
		});
	});

});

</script>
