<% content_for :title do %>
	User Show Page
<% end %>

<% if flash[:message].present? %>
  <%= flash[:message] %>
<% end %>


<% if Teacher.teacher?(@current_user)%>
	<h1>Welcome Teacher <%= @current_user.username %></h1>
 	<p>You are a teacher!!!!</p>
<% else %>
 	<h1>Welcome <%= @current_user.username %></h1>
<% end %>


