<div class="student-nav-container">
	<ul>
		<li><a class="sections-master-schedule-link" href="#">Master Schedule</a></li>
		<li><a class="sections-all-cores-link" href='#'>All Cores</a></li>
		<li><a class="sections-non-cores-link" href="#">All Non-Cores</a></li>
		<li><a class="sections-departments-link" href='#'>All Departments</a></li>
		
	</ul>
</div>

<div class="sections-content-container">
	<%#= render 'master_schedule' %>
	<%= render 'cores' %>
	<%#= render 'non_cores' %>
	<%#= render 'departments' %>


</div>