<h4>Current Sections</h4>
<ul>
	<% @teacher.current_sections.each do |section|%>
		<li><a href="/sections/<%= section.id %>" ><%= section.course.course_name %> - <%= section.course.course_number %>.<%= section.section_number %></a></li>
	<% end %>
</ul>