<div class="teacher-students-container" >
	<div id="student-list">
			<ol>
		<% @students.each do |student| %>
			<li><%= link_to student.lastfirst, student_path(student) %></li>
		<% end %>
	</ol>
	</div>
	<div class="student-chart"><canvas id="student-chart"></canvas></div>
</div>