.all-graph-container {
	width: 100%;
	background-color: grey;
}
.class-graphs-container {
	float: left;
	max-width: 500px;
	min-width: 200px;
	border: 1px pink solid;
	overflow: scroll-bar;
	padding-bottom: 5px;
}

.well {

}
canvas {
	padding: 2px 5px 5px 5px;
}