h1 {
	color: coral;
	text-align: center;
}

h2 {
	color: coral;
	text-align: center;
}

div.header-container {
	top: 0;
	width: 100%;
	background-color: #555;
	position: relative;
	z-index: 2;
}


div.logo {
	max-width: 25%;
	color: coral;
	margin-left: 10px;
}

header a:hover {
	text-decoration: none;
	color: red;
}

header a {
	text-decoration: none;
	color: coral;
}

a:hover {
	color: red;
}

.logo h1:hover {
	color: blue;
}
.logo h1 {
	color: coral;
}
div.session-links {
	max-width: 50%;
	margin-right: 20px;
}
div.session-links ul {
	list-style-type: none;
	text-align: center; 
}
div.session-links ul li {
	text-decoration-color: coral;
	display: inline;
	padding: 5px;
}

form {
	text-align: center;
}
