html, body, main {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	font-size: 100%
}

div.header-container {
	display: flex;
	justify-content: space-between;
	height: 10vh
}

div.main-container {	
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 90vh;
	
}

div.content-container {
	flex: 0 0 90%;
	overflow: auto;
	
}

div.data-container {
	padding: 5px;
	margin: 10px;
}

div.sidebar-container {
	flex: 0 0 10%;
	width: 10%;
	z-index: 1;
	background-color: #555;
}

div.sidebarNav {
	height: 100%;
	background-color: #555;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

div.sidebar-container a {
	text-decoration: none;
	margin-left: 0px;
	color: coral;
	text-align: center;
	i {
		font-size: 4rem;
		margin-left: 10px;
		display: block;
		margin-bottom: 20px;
	}
	i:hover {
		color: #ffca51;
	}
	span.icon-text {
		font-size: .85rem;
		display: block;
		padding: 2px;
	}
}


div.sidebarNav button {
	margin: 10px;
}

div.column-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	div.left-column {
		flex: 1 1 auto;
	}

	div.right-column{
		flex: 1 1 auto;
	}
}

div.flex-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;

	div.flex-child-1{
		flex: 1;
	}
	div.flex-child-2{
		flex: 2;
	}
	div.flex-child-3{
		flex: 3;
	}

}

button.grey {
	margin: 5px 5px 5px 20px;
	background-color: #e3e6ea;
}

