div.section-master-schedule {
	border: 1px solid #c7c7c7;
	margin: 5px;
}

.subject-la {
	background-color: #F7C9AD;
}

div.master-schedule-key {
	text-align: center;

}

ul.master-schedule-key li {
	display: inline-block;
	padding: 10px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	display: inline-block;
	margin-left: 10px;
}

.subject-ma {
	background-color: #C0DFDE;
}
.subject-sc {
	background-color: #D9ECC4;
}
.subject-so {
	background-color: #D9B1BE;
}
