div.section-master-schedule {
	border: 1px solid #c7c7c7;
	margin: 5px;
}


div.master-schedule-key {
	text-align: center;

}

ul.master-schedule-key li {
	display: inline-block;
	padding: 10px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	display: inline-block;
	margin-left: 10px;
}

.department-SCI {
	background-color: #F7C9AD;
}
.department-LA {
	background-color: #C0DFDE;
}
.department-HR\/ADV {
	background-color: #D9ECC4;
}
.department-MATH {
	background-color: #D9B1BE;
}
.department-PE {
	background-color: #CEF7A0;
}
.department-SOC {
	background-color: #D4F2DB;
}
.department-ELECTIVE {
	background-color: #A0CA92;
}
.department-ELD {
	background-color: #FF82A9;
}
.department-MOD\/THAI {
	background-color: #D4AA7D;
}
.department-none {
	background-color: #8BBF9F;
}

.table-day {
	background-color: lightgrey;
}