table {
	table-layout: fixed;
	width: 80%;
	height: 80%;
}

td.section-box {
	background-color: grey;
	width:10%;
	height: 20%;
}

td.semester {
	width: 1%;
	background-color: #bfbdbd;
}

th {
	width:1%;
	height: 20%;
}


th.scheduleHeader {
	background-color: #98B9D5;
}

th.scheduleTimes {
	background-color: #98B9D5;

}
table tr td {
	border: 1px black solid;
}

th {
	border: 1px black solid;
}

td.schoolDay {
	border: 1px solid pink;
}

div.course-block {
	background-color: blue;
}

td p {
	text-align: center;
}

td small {
	text-align: center;
}
