// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.section-list {
	list-style: none;
}

div.sections-content-container {
  padding: 10px;
}

/*small stacked bar graphs*/
.stacked-bar-graph {
  width: 100px;
  height: 10px;
  color: #414042;
  display:inline-block;

  span {
    display: inline-block;
    height:100%;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    font-family: arial, sans-serif;
    border-radius: 20px;
  }

  .bar-0 {
  	background: #555555;
  }

  .bar-1 {
    background: #A8271E;
  }

  .bar-2 {
    background: #F8DA06;
  }

  .bar-3 {
    background: #249D3D;
  }
  .bar-4 {
    background: #007CC6;
  }
  
}

.student-nav-container {
  text-align: center;
}