html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

div.student-sections {
	display: block;
	width: 100%;
	height: 100%;
}

div#header {
	margin: auto;
	width: 100%;
	height: 62px;
	img {
		height: auto;
		width: auto;
	}
}

div.section {
	display: inline-block;
	box-sizing: border-box;
	border: 1px black solid;
	width: 49%;
	height: 410px;
	overflow: hidden;
	margin-top: 10px;
	background-color: #fff;
	padding: 5px;
	text-align: left;
	vertical-align: top;

	span.course-name {
		font-size: 16pt;
		/*text-decoration: underline;*/
	}
	span.instructor-name {
		font-style: italic;
	}
	span.standard-name {
		float: left;
		width: 200px;
	}
	ul {
		margin-top: 1px;
		margin-bottom: 10px;
		list-style: none;
	}
}


div.section-group {
	border: 1px black solid;
	width: 99.5%;
	border-radius: 20px;
	background-color: #f7f7f7;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	height: 98%;
	display: table-cell;
	padding-bottom: 10px;
	
	h2 {
		text-align: left;
		margin-left: 5%;
		margin-bottom: 5px;
		margin-top: 5PX;
	}
}

img.student-reportcard-image {
	height: 100%;
	border-radius: 10px;
	display: inline-block;
}

div.ms-header {
	text-align: center;
	h2 {
		margin: 0;
	}
	h3 {
		margin: 0;
	}
	margin-bottom: 20px;
}

div.div-container {
	display: block;
	text-align: justify;
	height: 100px;
}

div.div-container:after {
	content: '';
	display: inline-block;
	width: 100%;
}

div.left-div {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

div.middle-div {
	vertical-align: top;
	height: 100%;
	display: inline-block;
}

div.right-div {
	vertical-align: top;
	height: 100%;
	display: inline-block;
}

div.student-photo-container{
	margin-right: 50px;
}

div.page{
	text-align: justify;
	width: 100%;
	height: 1330px;

	div.left-page {
		display: inline-block;
		vertical-align: top;
		width: 48%;
		height: 100%;
		overflow: hidden;
	}

	div.right-page {
		display: inline-block;
		vertical-align: top;
		height: 100%;
		width: 48%;
		overflow: hidden;
	}
	
}

div.page:after {
	content: '';
	display: inline-block;
	width: 100%;
}

div.student-text-info {
	text-align: center;
	.student-name {
		font-size: 22pt;
		text-decoration: underline;
	}
}

div.student-text-right {
	text-align: right;
}

div.pop {
	border: 1px black solid;
	border-radius: 20px;
	text-align:center;
	margin-top: 10px;
	p {
		margin-left: 10px;
		text-align: left;
	}
	h4 {
		margin: 0px;
	}
}

div.placeholder {
	height: 950px;
}


div.section-header {
	padding-bottom: 10px;
	span.course-name {
		text-decoration: underline;
		
	}
}

div.grade-meter-B {
	display: inline-block;
	background-color: #A8271E;
	border: 1px black solid;
	width: 30px;
	height: 10px;
	margin-right: 5px;
}
div.grade-meter-P {
	display: inline-block;
	background-color: #F8DA06;
	border: 1px black solid;
	width: 60px;
	height: 10px;
	margin-right: 5px;

}
div.grade-meter-M {
	display: inline-block;
	background-color: #249D3D;
	border: 1px black solid;
	width: 90px;
	height: 10px;
	margin-right: 5px;

}
div.grade-meter-E {
	display: inline-block;
	background-color: #007CC6;
	border: 1px black solid;
	width: 120px;
	height: 10px;
	margin-right: 5px;

}
div.eval-key {
	border: 1px black solid;
	border-radius: 20px;
	background-color: #f7f7f7;
	ul {
		list-style: none;
	}
	ul li {
		margin: 5px;
	}
	h4 {
		text-align: center;
	}
}

table {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
	width: 100%;
	th {
		background-color: #999999;
		height: 10px;
	}
}

div.staff-info-container {
	text-align: justify;

	div.admin-info {
		display: inline-block;
	}
	div.secretary-info {
		display: inline-block;
	}
	div.hom-key {
		display: inline-block;
	}
}
div.staff-info-container:after {
	content: '';
	display: inline-block;
	width: 100%;
}
/*BEGIN HS Section -------------------------------------*/
div.hs-section {
	display: inline-block;
	box-sizing: border-box;
	border: 1px black solid;
	width: 49%;
	height: 300px;
	overflow: hidden;
	margin-top: 10px;
	background-color: #fff;
	padding: 10px;
	margin: 10px 2px;
	text-align: left;
	vertical-align: top;

	span.course-name {
		font-size: 16pt;
		/*text-decoration: underline;*/
	}
	span.instructor-name {
		font-style: italic;
	}
	span.standard-name {
		float: left;
		width: 200px;
	}
	ul {
		margin-top: 1px;
		margin-bottom: 10px;
		list-style: none;
	}
}

div.hs-section-grades {

	div.hs-table {
		
		table {
			border: none;
			th {
				background-color: #fff;

			}
			th.semester-heading-cell {
				background-color: #999999;
			}
			td {
				
			}
			tr.academic-row {
				height: 50px;
			}
			span.hom-label {
				text-decoration: underline;
			}
			span.academic-label {
				text-decoration: underline;
			}
		}
	}

}

div.signature {
	text-align: center;

	p.signature-line {
		margin-top: 90px;
		display: inline-block;
		width: 70%;
		border-bottom: 1px solid black;
	}
	p.signature-label {
		margin: 0px;
		display: block;
		font-style: bold;
	}
}

div.address-container {
	margin-top: 130px;
	margin-left: 100px;
	span.g-name {
		font-size: 14pt;
		text-decoration: underline;
	}
}



