html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

div.student-sections {
	display: block;
	width: 100%;
	/*height: 100%;*/
}

div#header {
	margin: auto;
	width: 100%;
	height: 62px;
	img {
		height: auto;
		width: auto;
	}
}

div.ms-big-logo{
	margin-top: 120px;
	width: 100%;
	height: 500px;
	img {
		padding: 20px 0px;
		height: auto;
		width: auto;
	}

}

div.big-logo {
	margin: auto;
	width: 100%;
	height: 400px;
	img {
		padding: 20px 0px;
		height: auto;
		width: auto;
	}
}

span.instructor-name {
		font-style: italic;
	}

div.section {
	display: inline-block;
	box-sizing: border-box;
	border: 1px black solid;
	width: 49%;
	height: 410px;
	overflow: hidden;
	margin-top: 10px;
	background-color: #fff;
	padding: 5px;
	text-align: left;
	vertical-align: top;

	span.course-name {
		font-size: 16pt;
		/*text-decoration: underline;*/
	}
	span.instructor-name {
		font-style: italic;
	}
	span.standard-name {
		margin-left: 30px;
	}
	ul {
		margin-top: 1px;
		margin-bottom: 10px;
		list-style: none;
	}
	td.standard-name {
		width: 350px;
	}
}

div.section.core {
	display: inline-block;
	box-sizing: border-box;
	border: 1px black solid;
	width: 49%;
	height: 610px;
	overflow: hidden;
	margin-top: 10px;
	background-color: #fff;
	padding: 5px;
	text-align: left;
	vertical-align: top;

	span.course-name {
		font-size: 16pt;
		/*text-decoration: underline;*/
	}
	span.instructor-name {
		font-style: italic;
	}
	span.standard-name {
		
	}
	ul {
		margin-top: 1px;
		margin-bottom: 10px;
		list-style: none;
	}
}

div.section.six_50 {
	height: 450px;
	width: 49%;
}

div.section-group {
	border: 1px black solid;
	width: 1000px;
	border-radius: 20px;
	background-color: #f7f7f7;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	height: 98%;
	display: table-cell;
	padding-bottom: 10px;
	
	h2 {
		text-align: left;
		margin-left: 5%;
		margin-bottom: 5px;
		margin-top: 5PX;
	}
}

img.student-reportcard-image {
	height: 100%;
	border-radius: 10px;
	display: inline-block;
}

div.ms-header {
	text-align: center;
	h2 {
		margin: 0;
	}
	h3 {
		margin: 0;
	}
	margin-bottom: 20px;
}

div.div-container {
	display: block;
	text-align: justify;
	height: 100px;
}

div.div-container:after {
	content: '';
	display: inline-block;
	width: 100%;
}

div.left-div {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

div.middle-div {
	vertical-align: top;
	height: 100%;
	display: inline-block;
}

div.right-div {
	vertical-align: top;
	height: 100%;
	display: inline-block;
}

div.student-photo-container{
	margin-right: 50px;
}

div.page{
	text-align: justify;
	width: 100%;
	height: 1310px;

	div.left-page {
		display: inline-block;
		vertical-align: top;
		width: 48%;
		height: 100%;
		overflow: hidden;
	}

	div.right-page {
		display: inline-block;
		vertical-align: top;
		height: 100%;
		width: 48%;
		overflow: hidden;

		/*div.hs-sections-placeholder {
			height: 740px;
		}*/
	}
	
}

div.page:after {
	content: '';
	display: inline-block;
	width: 100%;
}

div.student-text-info {
	text-align: center;
	.student-name {
		font-size: 22pt;
		text-decoration: underline;
	}
}

div.student-text-right {
	text-align: right;
}

div.pop {
	border: 1px black solid;
	border-radius: 20px;
	text-align:center;
	margin-top: 10px;
	p {
		margin-left: 10px;
		text-align: left;
	}
	h4 {
		margin: 0px;
	}
}

div.hs-pop {
	border: 1px black solid;
	border-radius: 20px;
	text-align:center;
	margin-top: 10px;
	height: 350px;
	p {
		margin-left: 10px;
		text-align: left;
	}
	h4 {
		margin: 0px;
	}
}

div.placeholder {
	height: 950px;
}


div.section-header {
	padding-bottom: 10px;
	span.course-name {
		text-decoration: underline;
		
	}
}

div.eval-key {
	border: 1px black solid;
	border-radius: 20px;
	background-color: #f7f7f7;
	ul {
		list-style: none;
		padding: 5px;
	}
	ul li {
		margin: 5px;
	}
	h4 {
		padding: 0px;
		text-align: center;
	}
}

div.eval-key.test {
	margin-top: 20px;
}

table {
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid black;
	width: 100%;
	th {
		background-color: #BBBBBB;
		height: 10px;
	}
}

div.staff-info-container {
	text-align: justify;
	margin-bottom: 10px;
	
	height: auto;

	div.admin-info {
		display: inline-block;
	}
	div.secretary-info {
		display: inline-block;
		margin-left: 130px;
	}

	div.es-attendance {
		text-align: center;
		display: inline-block;
		vertical-align: top;
		height: 100px;
		width: 250px;
	}

	div.es-student-services {
		text-align: center;
		display: inline-block;
		margin-left: 420px;
		vertical-align: top;
		height: 100px;
		width: 250px;
	}
	span {
		line-height: 40px;
	}
	h4 {
		padding: 5px;
		margin: 5px;

	}
	
}
/*div.staff-info-container:after {
	content: '';
	display: inline-block;
	width: 100%;
}*/
/*BEGIN HS Section ------------------------------------------------------------*/
div.hs-section {
	display: inline-block;
	box-sizing: border-box;
	border: 1px black solid;
	width: 450px;
	height: 300px;
	overflow: hidden;
	margin-top: 10px;
	background-color: #fff;
	padding: 10px;
	margin: 10px 2px;
	text-align: left;
	vertical-align: top;

	span.course-name {
		font-size: 16pt;
		/*text-decoration: underline;*/
	}
	span.instructor-name {
		font-style: italic;
	}
	span.standard-name {
		float: left;
		width: 200px;
	}
	ul {
		margin-top: 1px;
		margin-bottom: 10px;
		list-style: none;
	}
}

div.hs-section-grades {

	div.hs-table {
		
		table {
			border: none;
			th {
				background-color: #fff;

			}
			th.semester-heading-cell {
				background-color: #fff;
			}
			td {
				
			}
			tr.academic-row {
				height: 50px;
			}
			span.hom-label {
				text-decoration: underline;
			}
			span.academic-label {
				/*text-decoration: underline;*/
			}
		}
	}

}

div.signature {
	text-align: center;

	p.signature-line {
		margin-top: 66px;
		display: inline-block;
		width: 70%;
		border-bottom: 1px solid black;
	}
	p.signature-label {
		margin: 0px;
		display: block;
		font-style: bold;
	}
}

div.address-container {
	margin-top: 100px;
	margin-left: 70px;
	margin-bottom: 200px;
	span.g-name {
		font-size: 14pt;
		text-decoration: underline;
	}
}

div.grade-key-info-container {
	text-align: justify;

	div.cumulative-gpa {
		display: inline-block;
		padding: 8px;
		text-align: center;
		vertical-align: top;
		h4 {
			padding: 0px;
			margin: 0px;
		}
	}
	
	/*div.hom-key {
		display: inline-block;
		padding: 8px;
		text-align: center;
		vertical-align: top;
		margin-left: 575px;

		h4 {
			padding: 0px;
			margin: 0px;
		}

		ul {
			list-style: none;
			text-align: left;
			padding: 5px;
		}
	}*/

	div.hom-key.test {
		display: block;
		padding: 8px;
		text-align: center;
		

		h4 {
			padding: 0px;
			margin: 0px;
		}

		ul {
			display: inline-block;
			text-align: left;
			list-style: none;
			padding: 5px;
		}
	}
}

div.box {
	border: 1px solid black;
	border-radius: 20px;
	background-color: #f7f7f7;
}

/*div.grade-key-info-container:after {
	content: '';
	display: inline-block;
	width: 100%;
}*/
/*div.hs-eval-key {
		width: 78%;
		display: inline-block;
		ul {
			list-style: none;
			padding: 5px;
		}
		ul li {
			margin: 5px;
		}
		h4 {
			text-align: center;
			padding: 0px;
			margin: 0px;
		}

	}*/


div.hs-tables {
	/*height: 450px;*/
	margin-bottom: 10px;
	vertical-align: bottom;

	div.grade-system-table {
		float: left;
		display: inline-block;
		width: 48%;
		margin-right: 2%;
		height: 400px;
	}
	div.right-tables {
		display: inline-block;
		width: 48%;
		margin-left: 15px;
		/*div.gpa-summary-table {
			display: inline-block;
			width: 48%;
			vertical-align: top;
			margin-right: 1%;
		}

		div.credit-summary-table {
			display: inline-block;
			width: 48%;
			margin-left: 2%;

		}*/
	}
}

div.hs-sections-table {
	margin-top: 30px;
	height: 340px;
}

/*BEGIN ES Section--------------------------------------------------------------*/
table.es-grades-table {
	margin-top: 0px;
	padding-top: 0px;
	border: none;
	th {
		background-color: #fff;
	}

	td {
		min-width: 30px;
	}
}

div.es-signature {
	text-align: center;
	display: inline-block;

	p.signature-line {
		margin-top: 66px;
		display: inline-block;
		width: 400px;
		border-bottom: 1px solid black;
	}
	p.signature-label {
		margin: 0px;
		display: block;
		font-style: bold;
	}
	
}
.space-right {
	margin-right: 120px;
}

div.standard-name-in-cell {
	display: inline-block;
	max-width: 330px;
}

