// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.student-show-container {
	display: flex;
	flex-direction: column;
}
div.student-nav-container {
	flex: 0 0 20%;
	border: 1px black solid;

	ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
	}

}
div.student-info-container {
	flex: 0 0 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	div.student-photo {
		img {
			width: 100px;
			height: 150px;
			border-radius: 20%;
			margin: 15px 0 0 20px;
		}
		
		flex: 1;

	}
	div.student-info {
		flex: 2;
		p {
			text-align: center;
		}

	}
	div.student-donut {
		flex: 1;


	}

	
}
div.student-data-container {
	position: relative;
	overflow: auto;
	max-height: 620px;
	width: 100%;
	flex: 0 0 20%;

	p {
		text-align: center;
	}
	h2 {
		text-align: center;
	}

	h4 {
		text-align: center;
	}
	small {
		text-align: center;
	}
}

div.canvas-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: auto;

	div.canvas-1{
		flex: 1;
	}

	div.canvas-2{
		flex: 1;

	}
}

div.student-donut {
	text-align: center;
}

div.student-donut-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	div.student-doughnut-homs {

	}
	div.student-doughnut-standards{

	}

}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 15px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */






