// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.student-show-container {
	display: flex;
	flex-direction: column;
}
div.student-nav-container {
	flex: 1 1 20%;
	border: 1px black solid;

	ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
	}

}
div.student-info-container {
	flex: 1 1 60%;
	display: flex;
	flex-direction: row;

	div.student-photo {
		img {
			width: 100px;
			height: 150px;
			border-radius: 20%;
			margin: 5px 0px 5px 5px;
		}
		
		flex: 1 1 20%;
	}
	div.student-info {
		flex: 1 1 60%;
		p {
			text-align: center;
		}

	}
	div.student-donut {
		flex: 1 1 20%;

	}

	
}
div.student-data-container {
	position: relative;
	overflow: auto;
	max-height: 620px;
	width: 100%;
	flex: 1 1 20%;

	p {
		text-align: center;
	}
	h2 {
		text-align: center;
	}

	h4 {
		text-align: center;
	}
	small {
		text-align: center;
	}
}

div.canvas-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: auto;

	div.canvas-1{
		flex: 1;
	}

	div.canvas-2{
		flex: 1;

	}
}

div.student-donut {
	text-align: center;
}

div.student-donut-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: left;
	div.student-doughnut-homs {

	}
	div.student-doughnut-standards{

	}

}






