// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
	text-align: center;
}

button.new_student a {
	text-decoration: none;
	color: black;
}

button.new_student a:hover {
	text-decoration: none;
	color: black;
}

div.student_comments {
	background-color: #C9CACC;
	text-align: center;
}

