// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.teacher-students-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

div#student-list {
 flex: 1 1 20%;
}
 
div.student-chart {
 flex: 1 1 80%;
}

p.teacher-email {
	text-align: center;
}