<h1><%= @standard.standard_name %> - <%= @standard.identifier %></h1>

<div class="data-container">
<h4>Courses associated with this standard</h4>
<% @standard.courses.each do |course| %>
	<span><%= link_to course.course_name, course_path(course) %></span>, 
	<%#= link_to course.course_name, course_path(course), class: "course-link", data: {courseid: course.id} %>
<% end %>
	
<h4>All grades for this standard</h4>
<canvas id="standard-data-container">
	
</canvas>

<%= content_tag :div, id: 'standard-data', data: {grades: @grades_hash, standardid: @standard.id, gradelevels: @grade_levels} do -%><% end %>