<h3>Standard Name: <%= @standard.standard_name %></h3>

<ul>
<% @standard.grades.each do |grade| %>
	<li><%= grade.standard.standard_name %> - <%= grade.grade %></li>
<% end %>
</ul>

<!-- <h2>Total is <%= Mathify.sum_grades(@standard.grades) %></h2> -->
