<h1>Generate a Report</h1>

<!-- <a href="/report-cards">All Current Report Cards</a> -->
<ul>
<li><%= link_to "All Quarter 1 Report Cards", '/q1-report-cards.pdf' %> - Don't click unless you have some time to kill</li>
</ul>