<div class="sidebar-container">
	<% if current_user.present? %>

			<div class="sidebarNav">
				<a href="/students"><i class="students-link fas fa-address-card"><span class="icon-text">Student Index</span></i></a>
				<a href="/teachers"><i class="fas fa-chalkboard-teacher"><span class="icon-text">Teachers Index</span></i></i></a>
				
				<a href="/standards"><i class="standards-link fas fa-user-graduate"><span class="icon-text">Standards Index</span></i></a>
				<a href="/suggestions"><i class="suggestion-link fas fa-lightbulb"><span class="icon-text">Suggestion Box</span></i></a>
				
				
			</div>

			<!-- <div class="sidebarNav">
				<button><a href='/teachers/<%#=current_user.id%>/students'>All Students</a></button>
				<button id="sidebar-profile"><%#= link_to "Profile", user_path(current_user) %></button>
				<button id="sidebar-sections" data-userid=<%#= current_user.id%>>Your Sections</button>
				<button><a href="#">Your Schedule</a></button>
			</div> -->

	<% end %>
</div>

