<div class="sidebar container">
	<div class="sidebarNav">
		<button><a href="/">Index</a></button>
		<button><a href="#">Profile</a></button>
		<button><a href="#">Schedule</a></button>
		<button><a href="#">Comments</a></button>
	</div>
	

</div>