<div class="sidebar-container">
	<% if current_user.present? %>
		<% if current_user.admin %>
			<div class="sidebarNav">
				<a href="/students"><i class="fas fa-address-card"><span class="icon-text">Student Index</span></i></a>
				<a href="/users"><i class="fas fa-unlock staff-link"><span class="icon-text">Staff Index</span></i></a>
				
				<a href="/standards"><i class="fas fa-user-graduate"><span class="icon-text">Standards Index</span></i></a>
				<a href="/suggestions"><i class="suggestion-link fas fa-lightbulb"><span class="icon-text">Suggestion Box</span></i></a>
				
				
			</div>
		<% else %>
			<div class="sidebarNav">
				<button><a href='/teachers/<%=current_user.id%>/students'>All Students</a></button>
				<button id="sidebar-profile"><%= link_to "Profile", user_path(current_user) %></button>
				<button id="sidebar-sections" data-userid=<%= current_user.id%>>Your Sections</button>
				<button><a href="#">Your Schedule</a></button>
			</div>

		<% end %>
	<% end %>
</div>

<script type="text/javascript">
$(function(){

	$('.suggestion-link').on("click", function(event){
		event.preventDefault();
		$.get("/suggestions", function(event){
			console.log("Request Sent")
		}).done(function(response){
			let html = "<h1>All Suggestions</h1><ol>"
			response.forEach(function(sugg){
				html += "<li>" + sugg.show + "</li>"
			})
			html += "</ol>"
			$('.content-container').html(html)

		});
	})
})


</script>