<div class="sidebar-container">
	<% if current_user.present? %>
		<% if current_user.admin %>
			<div class="sidebarNav">
				<button><a href="/students">Student Index</a></button>
				<button><a href="/users">Admin Index</a></button>
				<button><a href="/suggestions">Suggestion Box</a></button>
				
			</div>
		<% else %>
			<div class="sidebarNav">
				<button><a href='/teachers/<%=current_user.id%>/students'>All Students</a></button>
				<button id="sidebar-profile"><%= link_to "Profile", user_path(current_user) %></button>
				<button id="sidebar-sections" data-userid=<%= current_user.id%>>Your Sections</button>
				<button><a href="#">Your Schedule</a></button>
			</div>

		<% end %>
	<% end %>
</div>