<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= csrf_meta_tags %>
    <%= wicked_pdf_stylesheet_link_tag "master-schedule" %>
    <%#= javascript_include_tag wicked_pdf_asset_base64("master_schedule") %>
  </head>
  <body>
    
    <div id="content">
      <%= yield %>
    </div>
    
  </body>
</html>